/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Custom Properties */

:root {
  --clr-primary-700: hsl(217, 19%, 35%);
  --clr-primary-500: hsl(214, 17%, 51%);
  --clr-primary-300: hsl(212, 23%, 69%);
  --clr-primary-200: hsl(210, 46%, 95%);

  --clr-neutral-100: hsl(0, 0%, 100%);

  --fw-300: 300;
  --fw-500: 500;
  --fw-700: 700;

  --ff-primary: "Manrope", sans-serif;

  --spacer: 1rem;
}

/* Utility Classes */

.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.hidden {
  display: none;
}

/* Screen Reader */

.sr-only {
  position: absolute;
  left: -999%;
}

/* General Styling */

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-primary-200);
}

.card {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin: 4.625rem 1.5rem;
  background-color: var(--clr-neutral-100);
  border-radius: 0.625rem;
  box-shadow: 0px 40px 40px -10px hsla(210, 29%, 84%, 0.5);
}

.card__header {
  flex: 0 1 12.5rem;
  overflow: hidden;
  max-width: 20.438rem;
  border-radius: 0.625rem 0.625rem 0 0;
}

.card__hero-img {
  height: 12.5rem;
  border-radius: 0.625rem 0.625rem 0 0;
}

.card__hero-img img {
  max-width: 100%;
  height: auto;
  display: block;
  transform: translateY(-0.825rem);
}

.card__content {
  /* width: minmax(20.438rem, 27.813rem); */
  flex: 0 1;
  max-width: 20.438rem;
}

.card__main {
  padding: calc(var(--spacer) * 2);
}

.card__heading {
  color: var(--clr-primary-700);
  font-size: 1rem;
  font-weight: var(--fw-700);
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
  margin-bottom: 1rem;
}

.card__text {
  color: var(--clr-primary-500);
  font-size: 0.813rem;
  font-weight: var(--fw-500);
  line-height: 1.25rem;
  letter-spacing: 0.008rem;
}

.card__modal {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--clr-primary-700);
  margin-left: -2rem;
  margin-bottom: -1rem;
  padding: 0 2rem;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 0.625rem 0.625rem;
}

.card__modal-text {
  color: var(--clr-primary-300);
  font-size: 0.813rem;
  line-height: 1.25rem;
  letter-spacing: 0.313rem;
  font-weight: 400;
  text-transform: uppercase;
}

.card__modal-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translate(-1rem, 2.5px);
}

.card__modal-btn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-block;
  border: none;
  background-color: var(--clr-primary-500);
}

.card__modal-btn svg path {
  fill: #fff;
}

.card__modal-btn:hover svg path,
.card__modal-btn:active svg path {
  fill: var(--clr-primary-500);
}

.card__modal-btn:hover,
.card__modal-btn:active {
  background-color: var(--clr-primary-200);
}

.card__footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--spacer) * 2) var(--spacer) calc(var(--spacer) * 2);
}

.card__footer-img {
  border-radius: 50%;
}

.card__footer-text {
  transform: translateX(-1.25rem);
}

.card__name {
  color: var(--clr-primary-700);
  font-size: 0.813rem;
  font-weight: var(--fw-700);
  line-height: 1.25rem;
  letter-spacing: 0.008rem;
}

.card__date {
  color: var(--clr-primary-300);
  font-size: 0.813rem;
  font-weight: var(--fw-300);
  line-height: 1.25rem;
  letter-spacing: 0.008rem;
}

.card__btn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-block;
  border: none;
}

.card__btn:hover,
.card__btn:active {
  background-color: var(--clr-primary-500);
}

.card__btn:hover svg path {
  fill: #fff;
}

/* Media Queries */

@media screen and (min-width: 1000px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
    max-width: 45.625rem;
  }

  .card__header {
    flex: 0 1 17.813rem;
    overflow: hidden;
    max-width: 20.438rem;
    height: 280px;
    border-radius: 0.625rem 0 0 0.625rem;
  }

  .card__content {
    /* width: minmax(20.438rem, 27.813rem); */
    flex: 0 1 27.813rem;
    max-width: 27.813rem;
  }

  .card__hero-img img {
    max-width: 122.5%;
    height: auto;
    display: block;
    transform: translateY(0);
  }

  .card__heading {
    font-size: 1.25rem;
  }

  .card__main {
    padding: calc(var(--spacer) * 2.25) calc(var(--spacer) * 2.25)
      calc(var(--spacer) * 1.5) calc(var(--spacer) * 2.25);
  }

  /* .card__footer {
    padding: 0 calc(var(--spacer) * 2.25) 0 0;
  } */

  .card__footer-text {
    transform: translateX(-5rem);
  }

  .card__modal {
    border-radius: 0.625rem;
    transform: translate(105%, -150%);
    width: 15.5rem;
    height: 56px;
    box-shadow: 0px 10px 10px 0px hsla(210, 29%, 84%, 0.5);
  }

  .card__modal-btn {
    display: none;
  }

  .card__modal-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transform: translateY(0);
  }

  .card__modal::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: var(--clr-primary-700);
    position: absolute;
    transform: rotate(45deg) translate(84px, -49px);
  }
}
